Source: ros-rolling-yasmin-viewer
Section: misc
Priority: optional
Maintainer: miguel <mgons@unileon.es>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-rolling-ament-cmake, ros-rolling-ament-cmake-python, ros-rolling-ament-copyright <!nocheck>, ros-rolling-ament-flake8 <!nocheck>, ros-rolling-ament-pep257 <!nocheck>, ros-rolling-rclcpp, ros-rolling-rclpy, ros-rolling-yasmin, ros-rolling-yasmin-msgs, ros-rolling-yasmin-ros, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-yasmin-viewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-expiringdict, python3-flask, python3-waitress, ros-rolling-rclcpp, ros-rolling-rclpy, ros-rolling-yasmin, ros-rolling-yasmin-msgs, ros-rolling-yasmin-ros, ros-rolling-ros-workspace
Description: YASMIN viewer for FSM
