Source: ros-jazzy-yasmin-demos
Section: misc
Priority: optional
Maintainer: Miguel Ángel González Santamarta <mgons@unileon.es>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-python, ros-jazzy-example-interfaces, ros-jazzy-nav-msgs, ros-jazzy-pluginlib, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-rclpy, ros-jazzy-ros-environment, ros-jazzy-yasmin, ros-jazzy-yasmin-factory, ros-jazzy-yasmin-ros, ros-jazzy-yasmin-viewer, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-yasmin-demos
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-example-interfaces, ros-jazzy-nav-msgs, ros-jazzy-pluginlib, ros-jazzy-rclcpp, ros-jazzy-rclcpp-action, ros-jazzy-rclpy, ros-jazzy-yasmin, ros-jazzy-yasmin-factory, ros-jazzy-yasmin-ros, ros-jazzy-yasmin-viewer, ros-jazzy-ros-workspace
Description: Demos of YASMIN (Yet Another State MachINe)
