Source: ros-lyrical-yasmin-plugins-manager
Section: misc
Priority: optional
Maintainer: "Maik Knof" <maik.knof@gmx.de>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-yasmin, ros-lyrical-yasmin-factory, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/yasmin_plugins_manager/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-yasmin-plugins-manager
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-lxml, python3-yaml, ros-lyrical-ament-index-python, ros-lyrical-rclpy, ros-lyrical-yasmin, ros-lyrical-yasmin-factory, ros-lyrical-ros-workspace
Description: Plugin discovery and caching for YASMIN states.
